<% layout('layouts/boilerplate')%>

    <link rel="stylesheet" href="/stylesheets/login.css">

    <div class="login-container">
        <a href="/" class="logo-link">
            <div class="logo">
                YelpCamp
            </div>
        </a>
        <div class="form-wrapper">
            <div class="gradient-line"></div>
            <div class="form-container">
                <div class="form-header">
                    <h3 class="form-title">Login</h3>
                    <p class="form-subtitle">Welcome back, enter your credentials to continue.</p>
                </div>
                <div class="form-content">
                    <form action="/login" method="POST" class="validated-form" novalidate>
                        <div class="input-group">
                            <div class="input-wrapper">
                                <div class="flex justify-between">
                                    <label class="input-label">Username</label>
                                    <div class="success-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                            class="w-6 h-6">
                                            <path fill-rule="evenodd"
                                                d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z"
                                                clip-rule="evenodd" />
                                        </svg>
                                    </div>
                                </div>
                                <input type="text" name="username" placeholder="Username" id="username"
                                    autocomplete="off" class="form-input" autofocus required>
                                <div class="valid-feedback">Looks good!</div>
                            </div>
                        </div>
                        <div class="input-group">
                            <div class="input-wrapper">
                                <div class="flex justify-between">
                                    <label class="input-label">Password</label>
                                </div>
                                <div class="flex items-center">
                                    <input type="password" name="password" id="password" class="form-input" required>
                                </div>
                                <div class="valid-feedback">Looks good!</div>
                            </div>
                        </div>
                        <div class="form-options">
                            <label class="remember-label">
                                <input type="checkbox" name="remember" class="remember-checkbox">
                                <span class="remember-text">Remember me</span>
                            </label>
                            <a class="forgot-link" href="/forgot-password">Forgot password?</a>
                        </div>
                        <div class="form-actions">
                            <a class="register-btn" href="/register">Register</a>
                            <button class="login-btn" type="submit">Log in</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>